body{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;

}

.container{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

/*header image*/

.section-1{
  height: 30rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/*menu bar*/

#menu{
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  height: 3rem;
  position: relative;
  top: 1rem;
}

#small{
  display: none;
}

/*div logo header*/

#logo{
  display: flex;
  align-items: center;
}

#logo img{
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

#logo span{
  font-size: 1rem;
}

/*div nav header*/

#lien{
    display: flex;
    align-items: center;
    justify-content: center;
}

#lien span{
  padding: 1rem 2rem;
}

/*title header*/

#look{
  height: 18.2rem;
  justify-content: flex-end;
  align-items: center;
}

#look span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin: 10rem -2rem 0rem 0rem;
  color: black;
}

/*icon section*/

#icon{
  justify-content: center;
  margin-top: 3rem;
  height: 8rem;
}

.icon-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 0rem 3rem 0 3rem;
}

.icon-box img{
  width: 5rem;
}

#paper img{
  width: 3.5rem;
}

/*philo section*/

#philo{
    justify-content: center;
}

.text-box{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 35%;
  margin-right: 5%;
}

.title{
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  padding-left: 1.25rem;
  background-color: cadetblue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

#end{
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
}

#end img{
  height: 1.5rem;
  padding: 4rem 0rem 4rem 4rem;
  padding-right: 1rem;
}

/*media queries section*//*media queries section*//*media queries section*//*media queries section*/

/*media queries Tablet section*/

@media only screen and (max-width: 960px){

  body{
      max-width: 1024px;
  }

  #menu{
      top: 0rem;
  }

  #look span{
      font-size: 1.33rem;
      padding: 0.75rem 4rem;
      margin: 10rem 2rem 0rem 0rem;
  }

  .section-1{
      height: 22rem;
  }
}


/*media queries mobile section*/

@media only screen and (max-width: 480px){

body{
      max-width: 480px;
    }

  #small{
      display: flex;
      align-items: center;
      justify-content: center;
    }

  #lien,
  #logo span{
      display: none;
    }

  #small span{
      padding: 1rem 2rem;
    }

  .section-1{
      position: relative;
      height: 17rem;
      background-image: url(../images/glasses-bg.png);
      background-repeat: no-repeat;
      background-position: 20%;
      background-size: cover;
    }

  #look{
      height: 15rem;
      justify-content: center;
      align-items: center;
    }

  #look span{
      width: 100%;
      font-size: 1rem;
      text-align: center;
      line-height: 1.2;
      background-color: white;
      padding: 1rem 0rem;
      margin: 9rem 0rem 2rem 0rem;
      color: black;
    }


  #icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3.77rem 0rem 3.77rem 0rem;
      height: auto;
    }

  .icon-box{
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 5rem;
      height: auto;
      font-size: 0.77rem;
    }

  #paper, #rule{
      margin-bottom: 1.54rem;
    }

  .icon-box div{
      padding-top: 0.5rem;
    }

  #philo{
      flex-direction: column;
      justify-content: center;
    }

  .text-box{
      display: flex;
      flex-direction: column;
      margin-top: 0rem;
      width: 100%;
    }

  .title{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      width: auto;
      height: 2rem;
      padding-left: 0rem;
      background-color: cadetblue;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      margin-bottom: 1rem;
    }

  .text-box p{
      font-size: 0.77rem;
      margin-bottom: 4rem;
      padding-left: 0.5rem;
    }

  #end{
      justify-content: center;
      align-items: center;
      background-color: azure;
      margin-top: 0rem;
    }

  #end img{
      height: 1.5rem;
      padding: 4rem 4rem 4rem 4rem;
    }

  #end span{
      display: none
    }

}
