body{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container{
  display: flex;
  max-width: 960px;
  margin: auto;
  border: solid 2px pink;
}

/*header image*/

.section-1{
  position: relative;
  border: solid 2px green;
  height: 30rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*menu bar*/

#menu{
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  height: 3rem;
  margin-top: 1rem;
}

/*div logo header*/

#logo{
  display: flex;
  align-items: center;
}

#logo img{
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

#logo span{
  font-size: 1rem;
}

/*div nav header*/

#lien{
    display: flex;
    align-items: center;
    justify-content: center;
}

#lien span{
  padding: 1rem 2rem;
}

/*title header*/

#look{
  height: 18.2rem;
  justify-content: flex-end;
  align-items: center;
}

#look span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin: 10rem -2rem 0rem 0rem;
  color: black;
  border: solid 2px pink;
}

/*icon section*/

#icon{
  justify-content: center;
  margin-top: 3rem;
  height: 8rem;
}

.icon-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 0rem 3rem 0 3rem;
  border: solid 2px aquamarine;

}

.icon-box img{
  width: 5rem;
}

#paper img{
  width: 3.5rem;
}

/*philo section*/

#philo{
    justify-content: center;
}

.text-box{
  display: flex;
  flex-direction: column;
  border: solid 2px aquamarine;
  margin-top: 3rem;
  width: 35%;
  margin-right: 5%;
}

.title{
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  padding-left: 1.25rem;
  background-color: cadetblue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  margin-bottom: 1rem;

}
